body {
    font-family: "Courier New", Courier, sans-serif;
    height: 100%;
    color:#40343b;
    line-height: 1.8;
    text-align: center;
    font-size: 1.7vw;

    background-image: url('http://hbimg.b0.upaiyun.com/2d9dc08d63f53e2c2df598b6743713290b06f957d358-bDL2ra');
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
  text-align: center;
  align: center;
}

h3 {
  display: inline-block;
  width: 70%;
}

label {
  display: inline-block;
  font-size: 1.2vw;
  text-align: justify;
  width: 35%;
}

input, button {
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Courier New", Courier, sans-serif;
  font-size: 2.5vw;
  background: rgba(1,1,1,0.2);
}

input {
  border: solid 2px #40343b;
  color: #695362;
}

button {
  color: #40343b;
  background: rgba(1,1,1,0);
  border: solid 5px	#40343b;
  margin-top: 5px;
  font-size: 2.8vw;
}

button:hover,
button.hover {
  border-color: #40343b;
  color: #40343b;
}

button:active,
button.active {
  border-color: #40343b;
  color: #40343b;
}

input, select, textarea{
    color: #000000;
}

textarea:focus, input:focus {
    color: #000000;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

}
